
@{
    ViewData["Title"] = "Add";
}

<h2 class="d-block text-center">@InsertProductDTO_caption.Add</h2>
@model InsertProductDTO
<form method="post" asp-action="Add" asp-controller="Home" enctype="multipart/form-data" asp-antiforgery="true">
    <div asp-validation-summary="All"></div>
    <div class="form-group">

        <label for="@Model.Name" class="form-label">@InsertProductDTO_caption.Name</label>
        <input type="text" class="form-control" asp-for="@Model.Name" />
    </div>
    <div class="form-group">
        <label for="@Model.Description" class="form-label">@InsertProductDTO_caption.Descr</label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="@Model.Price" class="form-label">@InsertProductDTO_caption.Price</label>
        <input type="number" class="form-control" asp-for="@Model.Price" step="0.01"/>
    </div>
    <div class="form-group">
        <label for="@Model.Category" class="form-label">@InsertProductDTO_caption.Category</label>
        <select asp-for="@Model.Category" class="form-select" asp-items="@ViewBag.add">

        </select>
    </div>
    <div class="form-group mt-2">
        <label for="@Model.UploadFile" class="form-label">@InsertProductDTO_caption.Preview</label>
        <input type="file" asp-for="@Model.UploadFile"/>
    </div>
    <div class="form-group mt-2">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">@InsertProductDTO_caption.Cancel</a>
        <input type="submit" value="@InsertProductDTO_caption.Save" class="btn btn-primary"/>
    </div>
</form>
